@import './vars.scss';
p{
  margin: 4px;
}
.pagin-btn{
  color: $color-accent;
  width: 50%;
  cursor: pointer;
}
.pagin-btn-cont{
  z-index: 200;
  background-color: white;
  position: fixed;
  left: 7%;
  bottom: 10px;
  width: 100px;
  height: 30px;
  border: 2px solid $color-accent;
}

.card-in-panel{
  box-sizing: border-box;
  padding: 10px;
  border-radius: 20px;
  width: calc(100% - 30px);
  height: 100px;
  margin: 10px;
}
.card-in-panel-active{
  border: 3px solid $color-point-accent;
  margin: 20px 10px;
}
.card-in-panel-standart{
  border: 3px solid $color-accent;
}
.card-in-panel-off{
  border: 3px solid $color-low-accent;
}
.card-container{
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.card-container::-webkit-scrollbar {
  width: 12px;
}

.card-container::-webkit-scrollbar-thumb {
  background-color: $color-accent;
  border-radius: 20px;      
  border: 3px solid $color-accent;  
}

.line-card-desc{
  color: $color-accent;
  font-size: 17px;
}
.line-card-value{
  font-size: 16px;
}
.desc-line-card{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.map-point-card{
  position: relative;
  z-index: 101;
}
.open-card{
  background-color: white;
  position: absolute;
  width: 300px;
  min-height: 100px;
  bottom: 20px;
  border-radius: 20px;
  left: -150px;
  padding: 10px;
  z-index: 100;
}

.open-card-bottom-rect{
  background-color: white;
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: -2px;
  left: 127.5px;
  transform: rotate(45deg);
  z-index: 99;

}

.background-point{
  background-color: $color-accent;
  height: 20px;
  width: 20px;
  position: absolute;
  cursor: pointer;
  left: -10px;
  top: -10px;
  border-radius: 50%;
  z-index: 2;
}
.background-point-passive{
  background-color: $color-accent;
}
.background-point-active{
  background-color: $color-point-accent;
}
.up-point{
  background-color: white;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  z-index: 3;
}
.list-panel{
  width: 20%;
  height: 100%;
  // position: relative;
}

.map-container{
  position: relative;
  width: 80%;
  height: 100%;
}

.content-container{
  width: calc(100vw - 16px);
  height: calc(100vh - 16px);
  display: flex;
}
.map-point{
  position: relative;
}

.map-icon{
  position: absolute;
  cursor: pointer;
  left: -10px;
  top: -10px;
}

.centried{
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-global{
    background-color: gray;
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;

}

.loader {
    display: block;
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 50%;
    position: relative;
  
  }
  .loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid rgba(217, 217, 217, 1);
    animation: prixClipFix 2s linear infinite ;
  }
  
  @keyframes rotate {
    100%   {transform: rotate(360deg)}
  }
  
  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }